/*Common CSS*/
.fluid-container {width:100%;}
.container {max-width:1140px; margin:0 auto;}
a {text-decoration:none; color: black;}
h2 {font-size: 23px; font-family: 'Mulish', sans-serif; font-weight: 800; color:#2c3f69; display: block; }
p {font-size: 16px; font-family: sans-serif; font-weight: 400; color: #757575; display: block;}


/*Top Bar CSS*/
.top-bar {border-bottom:1px solid #ececec; padding-top: 10px; padding-bottom: 15px;}
.topbar {display:flex; justify-content: space-between;}
.contact-details {display: flex;}
.phone {display: flex; padding-right: 10px;}
.call-icon {padding-right: 5px;}
.email {border-left: 2px solid #ddd8d8; padding-left: 16px;}
/*.call-icon:before {font-family: FontAwesome; content:"\f095";}*/

/*Main Menu CSS*/
.menu { display: flex; justify-content: space-between; padding: 15px 0;}
.menu-logo{padding-top: 15px;}
.menu-nav-ul li {display: inline; padding: 0 10px; font-family: sans-serif; font-size: 14px; font-weight: 700; text-transform: uppercase;}
.menu-nav-ul li a {text-decoration: none; color: black;}
.menu-nav-ul li button {background: red; border: none; padding: 15px; border-radius: 5px; color:white; font-family: sans-serif; font-size: 14px; font-weight: bold; text-transform: uppercase; cursor: pointer;}
.menu-nav-ul li img {cursor: pointer;}

/*Slider CSS*/
.slider{background-image: url("../image/slide-1.jpg");  background-repeat: no-repeat ; background-size: cover; scale: 1.008;}
.slider-content{color: white; text-align: center; font-family: sans-serif; font-size: 100px; font-weight: 700; padding-bottom: 20px; padding-top: 250px;}
.slider-detail{color: white; text-align: center; font-family: sans-serif; font-size: 20px; font-weight: 400; text-align: center; letter-spacing: 1px; padding-bottom: 20px;}
.slider-button{text-align: center; padding-bottom: 250px;}
.slider-button button {background: red; border: none; padding: 20px; border-radius: 5px; color:white; font-family: sans-serif; font-size: 14px; font-weight: bold; text-transform: uppercase; cursor: pointer;}


/* 6 Box Section CSS*/
.about-section {display: flex; justify-content: space-between; padding-top: 50px;}
.about-section-2 {display: flex; justify-content: space-between; padding-top: 15px; margin-bottom: 50px;}

/* All 6 Blocks CSS*/

.six-block {display: flex; justify-content: space-evenly; padding-right: 50px; border: 1px solid #e5e5e5; padding: 30px 15px; margin-right: 15px;}
.six-block-icon {padding-right: 15px;}
.six-block-text {word-break: break-word;}
.six-block p {margin-top: 15px; margin-bottom: 8px;}
.six-block {font-family: sans-serif; color: #757575; line-height: 24px; width: 36%;}
.six-block:hover {box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.1); }

/* About Agency Block CSS*/
.about-agency {display: flex;}
.about-agency-text {display: inline; max-width: 50%; padding-left: 80px; padding-top: 50px;}
.about-agency-image {background-image: url(../image/image-03.png); width: 450px; height: 600px; background-repeat: no-repeat;}
.about-agency-video-icon {width: 130px; height: 130px; background: #fff; border-radius: 5px; position: relative; left: 356px; top: 250px; box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1); }
.about-agency-play-icon {background-image: url(../image/play-icon.png); width: 92px; height: 87px; background-repeat: no-repeat; position:absolute;  top: 22px; left: 20px;}
.about-agency-header { font-family: 'Mulish', sans-serif; font-weight: bold; color: #aaa; text-transform: uppercase; padding-bottom: 15px; font-size: 18px;}
.consultation-text {font-family: 'Mulish', sans-serif; font-weight: 600; font-size: 40px; color: #2c3f69;}
.about-agency-text ul li {list-style-type: circle; padding-bottom: 15px; font-size: 17px; font-family: 'Roboto', sans-serif; color: #333; font-weight: 300; line-height: 24px;}
.about-agency-text ul {padding-left: 15px;}
.fc-background {background: #f8f9fb; padding-top: 50px; padding-bottom: 50px;}
.about-agency-text button {background: red; border: none; padding: 15px 40px 15px 40px; border-radius: 5px; color:white; font-family: sans-serif; font-size: 14px; font-weight: bold; text-transform: uppercase; cursor: pointer;}

/* Find By Consultant Block CSS*/
.find-consultant h1 {padding-top: 60px; font-family: 'Mulish', sans-serif; font-size: 44px; color: #2c3f69; font-weight: 500;}
.find-consultant p {padding-right: 300px;}
.country h3 {font-family: sans-serif; font-size: 23px; color: #2c3f69; font-weight: 600;}
.practice-area h3 {font-family: sans-serif; font-size: 23px; color: #2c3f69; font-weight: 600;}
.map-image {background-image: url(../image/world-map.png); width: 600px; height: 330px;}
.find-consultant-flex {display: flex; justify-content: space-between;}
.country ul li{list-style-type: none; font-family: sans-serif; font-size: 18px; font-weight: 500; color: #333; line-height: 31px;}
.country ul {padding-left: 0px;}
.country ul li a {color: #333;}
.country h4 a {color: #1d437b;}
h4 {color: #1d437b; font-size: 20px; font-family: sans-serif; font-weight: 700;}
.fc-bg-color{padding-bottom: 50px;}

.thousand-bg {background-image: url(../image/thousand-bg.png); width: 1895px; height: 585px; background-size: contain; background-repeat: no-repeat; padding-top: 95px; margin-left: -7px; scale: 1;}
.thousand-title {text-align: center; color: white; font-size: 20px; padding-bottom: 40px;}
.thousand-numbers {display: flex; justify-content: space-around; color: #fcb80b;}
.thousand-numbers h1 {font-size: 50px;}
.thousand-numbers h5 {font-size: 20px; margin-top: 0; color: white;}
.hr {border-top: 4px solid #fcb80b; padding-bottom: 40px;}

/*Tab Section CSS*/

 /* Style the tab */
 .tab {
    overflow: hidden;
    display: flex;
    justify-content: center;
    padding-bottom: 40px;  
  }
  
  /* Style the buttons that are used to open the tab content */
  .tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-family: Roboto;
    font-size: 25px;
    margin-right: 15px;
    color: #ccc;
  }
  
  /* Change background color of buttons on hover */
  .tab button:hover {
    border-bottom: 3px solid #ff6900;
    color: #ff6900;
  }
  
  /* Create an active/current tablink class */
  .tab button.active {
    border-bottom: 3px solid #ff6900;
    color: #ff6900;
  }
  
  /* Style the tab content */
  .tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;

 }

 .hr-dash {border-top: 2px dashed #e3e3e6; margin-top: 50px; margin-bottom: 50px; }
 .imigration-consultant h1 {padding-top: 25px; font-family: 'Mulish', sans-serif; font-size: 44px; color: #2c3f69; font-weight: 500; text-align: center;}
 .imigration-consultant p {padding-top: 60px; font-family: sans-serif; font-size: 16px; color: #757575; font-weight: 500; text-align: center; padding: 0 150px; padding-bottom: 50px;}
 .imigration-consultant {margin-bottom: 100px;}
 .immigration-4-col {display: flex;}
 .immigration-4-col-image {width: 285px; height: 279px;}

 .look-for-qality {background-image: url(../image/about-6.jpg); width: 1890px; height: 750px;}
 .look-for-qality-col {display: flex; justify-content: space-between; position: relative; top: 125px;}
 .girl-image-text {position: relative; top: 78px; padding-left: 100px; color: white;}
 .girl-image-text h3 {font-size: 52px; font-family: 'Mulish', sans-serif; font-weight: 600;}
 .girl-image-text p {font-size: 20px; font-family: 'Roboto', sans-serif; font-weight: 400; color: white;}
 .girl-image-text h4 {font-size: 24px; font-family: 'Roboto', sans-serif; font-weight: 400; color: white;}
 .flags img {	padding-right: 15px;}
 .flag-text {display: flex;}
 .flag-text h4 {font-family: Roboto , sans-serif; font-size: 13px; font-weight: bold; padding-right: 33px;}

 .partner-inst{ text-align: center;}
 .partner-inst h4 {font-size: 52px; font-family: 'Mulish', sans-serif; font-weight: 600; margin-bottom: -10px;}
 .partner-inst p {font-size: 20px; font-family: 'Roboto', sans-serif; font-weight: 400; color: #888;}
.all-country {display: flex; justify-content: center;}
.all-country p {font-size: 16px;}
.all-country p:after {content: "/"; padding-left: 11px; position: relative; top: -1px; color: #aaa; padding: 0 5px;}
.all-country .active {color: red;}
.other-logo-image {display: flex; justify-content: space-between; padding-top: 50px; width: 88%;}
.brand-logo img {width: 160px; height: 70px;}
.brand-logo p {font-size: 15px; font-family: sans-serif; color: black; }
.brand-logo {box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.1); background: #fff; border-radius: 6px; padding: 15px 15px;}
.brand-logo:hover {box-shadow: 0px 0px 8px 5px rgba(0,0,0,0.1); background: #fff;}
.other-logo-image-1 {display: flex; justify-content: space-between; padding-top: 20px; width: 88%;}
.other-logo-image-0 {display: flex; justify-content: space-between; padding-top: 20px; width: 88%;}
.spacer{padding-bottom: 100px;}