/*Common CSS*/
.fluid-container {width:100%;}
.container {max-width:1140px; margin:0 auto;}
a {text-decoration:none; color: black;}
h2 {font-size: 23px; font-family: sans-serif; font-weight: 600; color:#222; display: block; }
p {font-size: 16px; font-family: sans-serif; font-weight: 400; color: #757575; display: block;}



/*Top Bar CSS*/
.top-bar {border-bottom:1px solid #ececec; padding-top: 10px; padding-bottom: 15px;}
.topbar {display:flex; justify-content: space-between;}
.contact-details {display: flex;}
.phone {display: flex; padding-right: 10px;}
.call-icon {padding-right: 5px;}
.email {border-left: 2px solid #ddd8d8; padding-left: 16px;}
/*.call-icon:before {font-family: FontAwesome; content:"\f095";}*/

/*Main Menu CSS*/
.menu { display: flex; justify-content: space-between; padding: 15px 0;}
.menu-logo{padding-top: 15px;}
.menu-nav-ul li {display: inline; padding: 0 10px; font-family: sans-serif; font-size: 14px; font-weight: 700; text-transform: uppercase;}
.menu-nav-ul li a {text-decoration: none; color: black;}
.menu-nav-ul li button {background: red; border: none; padding: 15px; border-radius: 5px; color:white; font-family: sans-serif; font-size: 14px; font-weight: bold; text-transform: uppercase; cursor: pointer;}
.menu-nav-ul li img {cursor: pointer;}

/*Slider CSS*/
.slider{background-image: url("../image/slide-1.jpg");  background-repeat: no-repeat ; background-size: cover; scale: 1.008;}
.slider-content{color: white; text-align: center; font-family: sans-serif; font-size: 100px; font-weight: 700; padding-bottom: 20px; padding-top: 250px;}
.slider-detail{color: white; text-align: center; font-family: sans-serif; font-size: 20px; font-weight: 400; text-align: center; letter-spacing: 1px; padding-bottom: 20px;}
.slider-button{text-align: center; padding-bottom: 250px;}
.slider-button button {background: red; border: none; padding: 20px; border-radius: 5px; color:white; font-family: sans-serif; font-size: 14px; font-weight: bold; text-transform: uppercase; cursor: pointer;}


/* 6 Box Section CSS*/
.about-section {display: flex; justify-content: space-between; padding-top: 50px;}
.about-section-2 {display: flex; justify-content: space-between; padding-top: 15px; margin-bottom: 50px;}

.education-visa{display: flex; justify-content: space-evenly; padding-right: 50px; border: 1px solid #e5e5e5; padding: 30px 15px; margin-right: 15px;}
.education-visa-icon {padding-right: 15px;}
.education-visa-text {word-break: break-word;}
.education-visa p { margin-top: 15px; margin-bottom: 8px;}
.education-visa {font-family: sans-serif; color: #757575; line-height: 24px; width: 36%;}
.education-visa:hover {box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.1); }

.business-immigration{display: flex; justify-content: space-evenly; padding-right: 50px; border: 1px solid #e5e5e5; padding: 30px 15px; margin-right: 15px;}
.business-immigration-icon {padding-right: 15px;}
.business-immigration-text {word-break: break-word;}
.business-immigration p {margin-top: 15px; margin-bottom: 8px;}
.business-immigration {font-family: sans-serif; color: #757575; line-height: 24px; width: 36%;}
.business-immigration:hover {box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.1); }

.skilled-immigration {display: flex; justify-content: space-evenly; padding-right: 50px; border: 1px solid #e5e5e5; padding: 30px 15px;}
.skilled-immigration-icon {padding-right: 15px;}
.skilled-immigration-text {word-break: break-word;}
.skilled-immigration p {margin-top: 15px; margin-bottom: 8px;}
.skilled-immigration {font-family: sans-serif; color: #757575; line-height: 24px; width: 36%;}
.skilled-immigration:hover {box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.1); }

.spouse-family{display: flex; justify-content: space-evenly; padding-right: 50px; border: 1px solid #e5e5e5; padding: 30px 15px; margin-right: 15px;}
.spouse-family-icon {padding-right: 15px;}
.spouse-family-text {word-break: break-word;}
.spouse-family p {margin-top: 15px; margin-bottom: 8px;}
.spouse-family {font-family: sans-serif; color: #757575; line-height: 24px; width: 36%;}
.spouse-family:hover {box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.1); }

.tourist-visitor{display: flex; justify-content: space-evenly; padding-right: 50px; border: 1px solid #e5e5e5; padding: 30px 15px; margin-right: 15px;}
.tourist-visitor-icon {padding-right: 15px;}
.tourist-visitor-text {word-break: break-word;}
.tourist-visitor p {margin-top: 15px; margin-bottom: 8px;}
.tourist-visitor {font-family: sans-serif; color: #757575; line-height: 24px; width: 36%;}
.tourist-visitor:hover {box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.1); }

.language {display: flex; justify-content: space-evenly; padding-right: 50px; border: 1px solid #e5e5e5; padding: 30px 15px;}
.language-icon {padding-right: 15px;}
.language-text {word-break: break-word;}
.language p {margin-top: 15px; margin-bottom: 8px;}
.language {font-family: sans-serif; color: #757575; line-height: 24px; width: 36%;}
.language:hover {box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.1); }

.about-agency {display: flex;}
.about-agency-text {display: inline; max-width: 50%; padding-left: 80px; padding-top: 100px;}
.about-agency-image {background-image: url(../image/image-03.png); width: 450px; height: 600px; background-repeat: no-repeat;}
.about-agency-video-icon {width: 130px; height: 130px; background: #fff; border-radius: 5px; position: relative; left: 356px; top: 250px; box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1); }
.about-agency-play-icon {background-image: url(../image/play-icon.png); width: 92px; height: 87px; background-repeat: no-repeat; position:absolute;  top: 22px; left: 20px;}

.about-agency-header { font-family: sans-serif; font-weight: bold; color: #aaa; text-transform: uppercase; padding-bottom: 15px;}
.consultation-text {font-family: sans-serif; font-weight: 500; font-size: 40px;}
.about-agency-text ul li {list-style-type: circle; padding-bottom: 15px; font-size: 17px; font-family: sans-serif; color: #333;}
.about-agency-text ul {padding-left: 15px;}
.fc-background {background: #f8f9fb; padding-top: 50px; padding-bottom: 50px;}
.about-agency-text button {background: red; border: none; padding: 15px 40px 15px 40px; border-radius: 5px; color:white; font-family: sans-serif; font-size: 14px; font-weight: bold; text-transform: uppercase; cursor: pointer;}
.find-consultant h1 {padding-top: 60px; font-family: sans-serif; font-size: 44px; color: #2c3f69; font-weight: 500;}
.find-consultant p {padding-right: 300px;}
.country h3 {font-family: sans-serif; font-size: 23px; color: #2c3f69; font-weight: 600;}
.practice-area h3 {font-family: sans-serif; font-size: 23px; color: #2c3f69; font-weight: 600;}
.map-image {background-image: url(../image/world-map.png); width: 600px; height: 330px;}
.find-consultant-flex {display: flex; justify-content: space-between;}
.country ul li{list-style-type: none; font-family: sans-serif; font-size: 18px; font-weight: 500; color: #333; line-height: 31px;}
.country ul {padding-left: 0px;}
.country ul li a {color: #333;}
.country h4 a {color: #1d437b;}
.practice-area ul li{list-style-type: none; font-family: sans-serif; font-size: 18px; font-weight: 500; color: #333; line-height: 31px;}
.practice-area ul {padding-left: 0px;}
.practice-area ul li a{color: #333;}
h4 {color: #1d437b; font-size: 20px; font-family: sans-serif; font-weight: 700;}
.practice-area h4 a {color: #1d437b;}
.fc-bg-color{padding-bottom: 50px;}